<header class="main-header">
    <nav class="nav">
        <ul class="list">
            <li class="item-list"><a class="<%= ( path === '/' ? 'active' : '') %>" href="/">Shop</a></li>
            <li class="item-list"><a class="<%= ( path === '/add-product' ? 'active' : '') %>" href="/add-product">Add product</a></li>
        </ul>
    </nav>
</header>