<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/styles.css")
        title #{title}
    body
        header.main-header
            nav
                ul.list
                    li.item-list
                        a(href="/", class=(path === '/' ? 'active' : '')) Shop
                    li.item-list
                        a(href="/add-product", class=(path === '/add-product' ? 'active' : '')) Add Product
        block content