extends layouts/main-layout.pug

block content
    main
        .form
            form(action="/product", method="POST")
                .form-control
                    label(for="title") Title
                    input(type="text", name="title")#title
                    label(for="price") Price
                    input(type="text", name="price")#price
                    button.btn(type="submit") Add product