extends layouts/main-layout.pug

block content
        main
            //- uma div (implicito) com classe grid
            .grid
                each product in prods
                    article.card.product-item
                        header.card-header
                            h1.product-title #{product.title}
                        .card-content
                            h2.product-price #{product.price}
                            p.product-description 
                        .card-actions
                            button.btn Add to chart