    <main>
        {{#if hasProduct }}
            <h1>Products</h1>
            <h2>List of all products.</h2>
            <div class="grid">
                {{#each prods}}
                    <article class="card product-item">
                        <header class="card_header">
                            <h1 class="product_title">Great book</h1>
                        </header>
                        <div class="card_image">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51EstVXM1UL._SX331_BO1,204,203,200_.jpg">
                        </div>
                        <div class="card_content">
                            <h2 class="product_price"></h2>
                            <p class="product_description"></p>
                        </div>
                        <div class="card_actions">
                            <button class="btn">Add to chart</button>
                        </div>
                    </article>
                {{/each}}
            </div>
        {{ else }}
            <h1>No Products</h1>
        {{/if}}
    </main>
